[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_macro FILAMENT_CHANGE_TRACKER]
variable_filament_changes: 0
gcode:
    ; Holder for filament change count

[gcode_macro INCREMENT_FILAMENT_CHANGES]
gcode:
    {% set new_count = filament_changes + 1 %}
    SET_GCODE_VARIABLE MACRO=FILAMENT_CHANGE_TRACKER VARIABLE=filament_changes VALUE={new_count}
    SAVE_VARIABLE VARIABLE=filament_changes VALUE={new_count}
    RESPOND PREFIX="Filament Tracker" MSG="Total filament changes: {new_count}"

[gcode_macro SHOW_FILAMENT_CHANGES]
gcode:
    RESPOND PREFIX="Filament Tracker" MSG="Filament changes so far: {filament_changes}"

[gcode_macro RESET_FILAMENT_CHANGES]
gcode:
    SET_GCODE_VARIABLE MACRO=FILAMENT_CHANGE_TRACKER VARIABLE=filament_changes VALUE=0
    SAVE_VARIABLE VARIABLE=filament_changes VALUE=0
    RESPOND PREFIX="Filament Tracker" MSG="Counter reset to 0"

[gcode_macro LOAD_FILAMENT_CHANGE_COUNT]
gcode:
    {% set saved = printer["save_variables"].filament_changes|default(0) %}
    SET_GCODE_VARIABLE MACRO=FILAMENT_CHANGE_TRACKER VARIABLE=filament_changes VALUE={saved}

[delayed_gcode startup_macro]
initial_duration: 1
gcode:
    LOAD_FILAMENT_CHANGE_COUNT
